:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-white-color: rgba(255, 255, 255, 0.6);
  --seconf-bg-color: #f5f4fa;
  --tird-bg-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

footer {
  background-color: var(--tird-bg-color);
}

.list {
  list-style: none;
}

/* Logo */

.logo {
  color: var(--title-text-color);
  text-decoration: none;
}

footer .logo,
footer address {
  color: var(--primary-white-color);
}

.logo .accent {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contact mail and phone */

.header-contact {
  color: var(--primary-text-color);
  text-decoration: none;
}

.footer-contact {
  color: var(--second-white-color);
  text-decoration: none;
}

.header-contact:hover,
.header-contact:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--tird-bg-color);
}

.hero-title {
  color: var(--primary-white-color);
  text-transform: uppercase;
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
  text-transform: uppercase;
}

/* Team */

.team-list .title {
  color: var(--title-text-color);
}

/* Button */

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

/* Work portfolio */

.filter-work .button {
  background-color: var(--seconf-bg-color);
  color: var(--title-text-color);
}

.filter-work .button:hover,
.filter-work .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.filter-work .button:active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.work-list .title {
  color: var(--title-text-color);
}

.work-list .link,
.work-list .text {
  text-decoration: none;
  color: var(--primary-text-color);
}
