:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-white-color: rgba(255, 255, 255, 0.6);
  --seconf-bg-color: #f5f4fa;
  --tird-bg-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Logo */

.logo {
  color: var(--title-text-color);
}

.logo .accent {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* Hero */

.hero-title {
  color: var(--primary-white-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
}

/* Team */

.team-list .title {
  color: var(--title-text-color);
}

/* Button */

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

.address {
  color: var(--primary-white-color);
}
